<section id="five" class="wrapper style5"> 
    {% for page in site.pages%}{% if page.layout == 'page' %}        

    <center>
      <h2>{{ page.title }}</h2>
      <p>{{ page.description }}</p>
    </center>

    <div class="inner">
                {% if page.team %}
                    {% for row in page.team %}
                    <div class="team-row">
                        {% for person in row %}
                        <div class="team-column">
                            <figure class="team-card">
                                <div class="profile-image">
                                    <img src="{{ person.image_url }}" alt="{{ person.name }}" />
                                </div>
                                <figcaption>
                                    <h3>{{ person.name }}</h3>
                                    <h5>{{ person.title }}</h5>
                                    <h5>{{ person.affiliate }}</h5>
                                    <div class="icons">
                                        {% if person.github_user %}
                                        <a href="https://github.com/{{ person.github_user }}" class="icon fa-github"></a>
                                        {% endif %}
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                {% else %}
                    {{ content }}
                {% endif %}

            </div>
    {% endif %}{% endfor %}
</section>