<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
		<ul class="actions">
			<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScbLVehXdXIEPG-_u6zIo2oZRYDpAKA9wGVResBZgwUQUZ1_A/viewform?usp=sf_link" class="button special">Apply</a></li>
			<li><a href="/wiki/" class="button special">wiki</a></li>
<!--			
			<li><a href="https://github.com/icesat-2hackweek" class="button special">GitHub</a></li>
			<li><a href="/schedule.html" class="button special">Schedule</a></li>
			<li><a href="https://www.google.com/maps/place/Odegaard+Undergraduate+Library/@47.6564806,-122.3125576,17z/data=!3m1!4b1!4m5!3m4!1s0x549014f329bffff7:0x6efe7422cf2f2f93!8m2!3d47.6564806!4d-122.3103636" class="button special">Location</a></li>
			<li><a href="/wiki/project_guidelines.html" class="button special">Projects</a></li>		
-->
		</ul> 
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
