<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>ABOUT ICESat-2 Cryospheric Science Hackweek</h2>
			<p>ICESat-2 Cryospheric Science Hackweek is a 5-day hackweek to be held at the University of Washington.
				Participants will learn about technologies used to access and process ICESat-2 data with a focus on the cryosphere.
				Mornings will consist of interactive lectures,
				and afternoon sessions will involve facilitated exploration of datasets
				and hands-on software development. </p>
			<p>
				<a href="/hackweek.html">Learn about "hackweeks".</a>
			</p>
			<p>Check out articles on our 2019 hackweek: <a href="https://www.nccs.nasa.gov/news-events/nccs-highlights/icesat2-hackweek">from NASA</a> and <a href="https://glacierhub.org/2019/09/17/icesat-2-hackweek-tackles-the-big-data-of-earths-glaciers/">a past participant</a>!</p>
			<p><a href="https://www.essoar.org/doi/abs/10.1002/essoar.10501423.1">Learn more about icepyx</a>, our community open source software for working with ICESat-2 data!</p>
		</header>
		<!--<ul class="icons major">-->
			<!--<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>-->
			<!--</li>-->
		<!--</ul>-->
	</div>
</section>
